.cards__block {
    background-color:
        rgb(44, 52, 62);
padding-left: 30px;
padding-right: 20px;
    }

.cards__title {
    padding-top: 25px;
    color: rgb(253, 214, 186);
    font-family: Fraunces 9pt;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 24px;
}

.cards__box {
    display: none;
}

.cards__sub_title {
    color: rgb(255, 255, 255);
    font-family: Fraunces 9pt;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 24px;
}

.cards__text {
    color: rgb(255, 255, 255);
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 56px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width:768px) {

    // .cards__box {
    //     display: block;
    //     width: 467px;
    //     height: 2px;
    //     background-color: #fdd6ba;
    // }
    // .cards__span{
    //     width: 31px;
    //     height: 31px;
    //     border-radius: 50%;
    //     border: rgb(14, 135, 132);
    //     display: flex;
    // }
    .cards__list {
        display: flex;
        gap: 30px;
    }

    .cards__item {
        max-width: 223px;
    }

    .cards__box {
        max-width: 760px;
        height: 2px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 100px;
        border-bottom: 2px solid rgb(253, 214, 186);

        .cards__span {
            display: block;
            width: 31px;
            height: 31px;
            box-sizing: border-box;
            border: 2px solid #0e8784;
            background-color: #fefcf7;
            border-radius: 50%;

        }
    }
}
@media screen and (min-width:992px){
    .cards__item{
        max-width: 285px;

    }
    .cards__title{
        text-align: left;
    }
    .cards__text{
        text-align:left;
        padding: 0;
    }
    .cards__sub_title{
        text-align: left;
    }
}